/ADTs/List/Dokumentation-List.pdf
/ADTs/List/List.java
ADTs/Queue/Queue.java
ADTs/Queue/Dokumentation-Queue.pdf
/ADTs/Stack/Stack.java
/ADTs/Stack/Dokumentation-Stack.pdf
/ADTs/BinaryTree/BinaryTree.java
/ADTs/BinaryTree/Dokumentation-BinaryTree.pdf
/ADTs/BinaryTree/BinarySearchTree/BinarySearchTree.java
/ADTs/BinaryTree/BinarySearchTree/ComparableContent.java
/ADTs/BinaryTree/BinarySearchTree/Dokumentation-BinarySearchTree.pdf
/ADTs/BinaryTree/BinarySearchTree/Dokumentation-ComparableContent.pdf