/ADTs/List/Dokumentation-List.pdf
/ADTs/List/List.java
ADTs/Queue/Queue.java
ADTs/Queue/Dokumentation-Queue.pdf
/ADTs/Stack/Stack.java
/ADTs/Stack/Dokumentation-Stack.pdf
/ADTs/BinaryTree/BinaryTree.java
/ADTs/BinaryTree/Dokumentation-BinaryTree.pdf

# Temporary 
/ADTs/BinaryTree/